{% extends 'base.html' %}

{% block content %}

<div class="card shadow text-center">
    <div class="card-body">

        <h2 class="mb-4">Tentang Aplikasi</h2>

        <p>
            Aplikasi <b>Smart City Bandar Lampung</b> digunakan untuk membantu masyarakat 
            dalam melaporkan berbagai permasalahan yang terjadi di lingkungan kota.
        </p>

        <p>
            Dengan adanya aplikasi ini, masyarakat <b>Bandar Lampung</b> dapat 
            menyampaikan laporan secara cepat dan mudah kepada pihak terkait.
        </p>

        <p>
            Tujuan utama dari sistem ini adalah meningkatkan kualitas pelayanan publik 
            serta menciptakan kota yang lebih responsif dan modern.
        </p>

    </div>
</div>

{% endblock %}