{% extends 'base.html' %}
{% block content %}

<nav>
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active">Edit</li>
</ol>
</nav>

<div class="card">
<div class="card-body">

<h3>Edit Laporan</h3>

<form method="POST">
{% csrf_token %}
{{ form.as_p }}

<button id="submitBtn" class="btn btn-warning">Update</button>
<a href="/" class="btn btn-secondary">Kembali</a>

</form>

</div>
</div>

<script>
document.querySelector("form").addEventListener("submit", function() {
const btn = document.getElementById("submitBtn");
btn.innerText = "Loading...";
btn.disabled = true;
});
</script>

{% endblock %}